<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>About Us</h1>
        <img src="./images/minebot.png" alt="About Us Image" class="about-img">
        <p>
            MineBot is an advanced chatbot specifically designed for the mining industry. It assists professionals, researchers, students, and enthusiasts by providing information, insights, and solutions related to various aspects of mining. Built with a database of extensive mining terminologies, processes, machinery, and safety protocols, MineBot ensures users receive accurate and timely information.
        </p>
    </div>
</body>
<style>
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(207, 19%, 9%);
    color: #333;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: hsl(207, 19%, 9%);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: xx-large;
    margin: auto;
    color: white;
}

.about-img {
    max-width: 100%;
    display: block;
    margin: 20px auto;
}

p {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    font: 1.2em/2 "Fira Sans", sans-serif;
    color: white;
}

/* Responsive styles for smaller screens */
@media (max-width: 600px) {
    .container {
        margin: 20px 10px;
    }

    h1 {
        font-size: 24px;
    }
}

</style>
</html>
