<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin-filter</title>
    <link rel="stylesheet" href="/css/apply.css" type="text/css" />
</head>
<body>
   
    <div class="background">
         <%- include("partials/header.ejs" );%>
        <div class="container">
            <div class="screen">
                <div class="screen-header">
                    <div class="screen-header-left">
                        <div class="screen-header-button close"></div>
                        <div class="screen-header-button maximize"></div>
                        <div class="screen-header-button minimize"></div>
                    </div>
                    <div class="screen-header-right">
                        <div class="screen-header-ellipsis"></div>
                        <div class="screen-header-ellipsis"></div>
                        <div class="screen-header-ellipsis"></div>
                    </div>
                </div>
                <div class="screen-body">
                    <div class="screen-body-item left">
                        <div class="app-title">
                            <span>Add New Regulations</span>
                        </div>
                        <br>
                        <div class="app-contact">Enter title of the Act/Rule/Regulation,and explain in brief</div>
                    </div>
                    <div class="screen-body-item">
                        <!-- Update the form tag to make a POST request to "/filter" -->
                        <form action="/update" method="post" class="app-form">
                            <div class="app-form-group">
                                <input class="app-form-control" placeholder="Enter Act title" name="Act">
                            </div>
                            <div class="app-form-group">
                                <textarea class="app-form-control" placeholder="Description" name="description"></textarea>
                            </div>
                            <div class="app-form-group buttons">
                                <button type="submit" class="app-form-button" style="color: aquamarine;">ADD</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
